@using Hamwic.Cif.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-md navbar-light">

    <!-- Navbar brand -->
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Critical Incidents</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="MyAccount" 
                           asp-controller="PersonalDetails" 
                           asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                    </li>
                </ul>
            </form>
        }
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->