@model Hamwic.Cif.Web.Models.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container login mt-5">
    <div class="row justify-content-md-center">
            <p>Please enter the email address that you use for this service and we will send you a link to re-set your password.</p>
    </div>
        <form asp-action="ForgotPassword" asp-controller="Account">
            <div class="row justify-content-md-center">
                <div class="col-lg-1 text-center">
                    <i class="fa fa-envelope mt-2"></i>
                </div>
                <div class="col-lg-5">
                    @Html.EditorFor(x => x.EmailAddress)
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5 text-right">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
