@using Hamwic.Cif.Core.Extension
@model Int16
@{
    var fieldName = string.IsNullOrEmpty(ViewData.ModelMetadata.DisplayName.SplitOnCapitalLetter())
        ? ViewData.ModelMetadata.PropertyName.SplitOnCapitalLetter()
        : ViewData.ModelMetadata.DisplayName.SplitOnCapitalLetter();
}
<div class="form-group">
    <label asp-for="@Model" class="form-group has-float-label">
        <input asp-for="@Model" class="form-control" readonly type="number" />
        <span>@fieldName</span>
    </label>/
</div>